
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4fb3de 0%, #400099 50%, #e71fb2 100%) !important;
    background-attachment: fixed;
    color: #ffffff;
  }
}

.container {
  @apply max-w-6xl mx-auto px-6;
}
